.scroll-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  display: flex;
}

.column-left,
.column-right {
  width: 50vw;
  height: 300vh; /* Tres secciones de 100vh */
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s ease-out; /* Transición suave */
}

.section {
  width: 100%;
  height: 100vh; /* Cada sección ocupa el 100vh */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  background: #e0e5ec;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  p {
    width: 98%;
    height: 100vh;
    padding: 4px;
    display: flex;
    place-items: center;
    font-size: 1.3rem;
    color: black;
    font-family: "Oxygen", sans-serif;
    &:first-letter {
      font-weight: bold;
    }
  }
}
