.flip-link {
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  /* font-weight: bold; */
  text-transform: uppercase;
  line-height: 0.75;
  text-decoration: none;
  color: white;
  border: none;
  background: none;
  cursor: none;
  @media (min-width: 500px) {
    font-size: 3rem;
  }
}

.text-layer {
  margin-top: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.25s ease-in-out;
}

.text-layer .letter {
  display: inline-block;
  transition: transform 0.25s ease-in-out;
}

.text-layer .letter.bottom {
  transform: translateY(100%);
}
.text-layer .letter.top {
  transform: translateY(0);
  color: transparent; /* Hace el texto invisible */
  -webkit-text-stroke: 1px white; /* Define el contorno del texto */
  text-stroke: 1px white; /* Soporte adicional para navegadores */
}

.text-layer.hovered .letter.bottom {
  transform: translateY(0);
}

.text-layer.hovered .letter.top {
  transform: translateY(-100%);
}
