@keyframes scale-up-left {
  0% {
    transform: scale(0.5);
    transform-origin: left center;
  }
  100% {
    transform: scale(1);
    transform-origin: left center;
  }
}
.freelancer-container {
  font-family: "Bebas Neue", sans-serif;
  animation: scale-up-left 0.6s ease-in-out;
  h3 {
    font-family: "Oxygen", sans-serif;
  }
  p {
    font-size: 14px;
  }
}
.freelance-pulse-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  p {
    color: grey;
  }
}
@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 5px hsl(0, 0%, 87%);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 rgb(255, 207, 64);
    outline-offset: 5px;
    opacity: 0;
  }
}
.freelance-pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 10px;
  height: 10px;
  border: solid 2px rgb(255, 207, 64);
  border-radius: 50%;
  /* margin: 0 10px; */
  background-color: rgb(255, 207, 64);
}
.outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys 2s ease-in-out infinite;
}
